.addBookForm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  padding: 5px;
}

.addBookCard {
  width: 300px;
  height: 450px;
  padding: 10px;
  box-shadow: '1px 3px 1px -2px rgb(0 0 0 / 20%), 1px 2px 2px 1px rgb(0 0 0 / 14%), 1px 2px 4px 0px rgb(0 0 0 / 12%)';
}
