.card {
  padding-top: 16px;
  width: 300px;
  min-height: 400px;
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bookCardTypography {
  text-overflow: ellipsis;
  overflow: hidden;
}

.cardImg {
  height: 190px;
  width: 128px;
}
