.card {
  width: 300px;
  padding-top: 16px;
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bookCardTypography {
  text-overflow: ellipsis;
  overflow: hidden;
}

.cardImg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 190px;
  width: 128px;
  background-color: var(--app-background);
}
