.books {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px 20px 20px 60px;
}

.selectsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  margin: 40px 0;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.recommendedBookWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recommendedBookTitle {
  margin-bottom: 10px !important;
}
